<div class="group-cart">
    <div class="header-cart">
      <div class="col-1">Image</div>
      <div class="col-2">Name</div>
      <div class="col-3">Price</div>
      <div class="col-4">Action</div>
    </div>
    <div class="body-cart">
      <!-- <div class="row-cart" *ngFor="let product of products">
        <div class="col-1">
          <a [routerLink]="['/detail', product.id]">
            <img src="https://via.placeholder.com/100" alt="cart-item">
          </a>
        </div>
        <div class="col-2">{{ product.name | uppercasePipe }}</div>
        <div class="col-3">{{ product.price | currencyPipe }}</div>
        <div class="col-4">
          <div class="btn-main">
            <button class="btn-main-cart">Remove</button>
          </div>
        </div>
      </div> -->
    </div>
  </div>